[Unit]
Description=Mount MMC Partition to /data
After=local-fs.target

[Mount]
What=/dev/mmcblk0p3
Where=/data
Type=ext4
Options=defaults,nofail

[Install]
WantedBy=local-fs.target
